* {
    box-sizing: border-box;
    /*transition: all 2s ease-in-out;*/
}
body{
    background-color: #111;
    transition: background-color 10ms normal !important;
    overflow-x: hidden;
}


#home ,#news, #inform{
    animation: woow 1s ease-in-out forwards;
}

@keyframes woow{
    0%{
        transform:translateX(10vw) scaleY(0);
        opacity: 0%;
        
    }
    100% {
        transform: translateX(0)  scaleY(1);
        opacity: 100%;
    }
}
#navbar{
    position: sticky;
}
#home a:hover, #news a:hover, #inform a:hover{
    background-color: transparent;
}
#home a, #news a, #inform a{    
    padding-right: 40px;
    padding-left: 40px;
}


#main{
    background: linear-gradient(180deg, rgb(2, 2, 28, 0.709));
    margin: 0;
    padding: 0;
    border-radius: 2%;
}

.welcome h1 {
    text-align: center;
    display: flexbox;
    margin: 0 auto;
    max-width: 200px;
    font-family: 'Courier New', Courier, monospace;
    color: #bbb;
    font-weight: 520;
    font-size: 2.4em;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 6s steps(60, end);
    transition: all .5s ease-in-out;
    text-shadow: 0 9px 6px black;
}
@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 20px;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1;
}
  
#home, #news,#inform{
    float: right;
    border-left:3px solid #bbb;
}
 
#transition-for-info a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    position: sticky;
}

#boxes{
    display: flex;
    background-color: #222 initial;
    border-radius: 20px;
    padding-bottom: 30px;
    justify-content: center;
    z-index: -3;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#box-1{
    width: 300px;
    height: 400px;
    background-color: transparent;
    margin-top: 60px;
    display: relative;
    border-radius: 10%;
    margin: auto;
    margin-top: 40px;
    position: relative;
    animation: bounce-left 1s ease-in-out;
}
#box-1::after, #box-1::before,#box-2::after, #box-2::before,#box-3::after, #box-3::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),transparent 0%,rgb(0, 0, 0)25%, transparent 50%,rgb(0, 0, 0)100% );
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 8px;
    border-radius: 10%;
    animation: spin 3s linear infinite;
}
#box-2::after, #box-2::before{
    background-image: conic-gradient(from var(--angle), transparent 0%, rgb(148, 122, 115)25%, transparent 50%,rgb(148, 122, 115)100% );
}
#box-3::after, #box-3::before{
    background-image: conic-gradient(from var(--angle), transparent 0%, rgb(0, 93, 137) 25%, transparent 50%, rgb(0, 93, 137)100%);
}

@keyframes spin {
    from{
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
#box-1::before, #box-2::before, #box-3::before{
    filter: blur(1rem);
    opacity: 0.5;
}

#box-2{
    width: 300px;
    height: 400px;
    background-color: transparent;
    margin-top: 60px;
    display: relative;
    position: relative;
    border-radius: 10%;
    margin: auto;
    margin-top: 40px;
    position: relative;
    animation: bounce-down 1s ease-in-out;
}

#box-3{
    width: 300px;
    height: 400px;
    background-color: transparent;
    margin-top: 60px;
    display: flex;
    position: relative;
    border-radius: 10%;
    margin: auto;
    margin-top: 40px;
    animation: bounce-right 1s ease-in-out;
}

#box-1:hover .box-1-back{
    left: 0;
    width: 100%;
    height: 100%;
}
#box-1:not(:hover) .box-1-back{
    animation: box-back 1s forwards ease-in-out;
}
#box-2:not(:hover) .box-2-back{
    animation: box-back 1s forwards ease-in-out;
}
#box-3:not(:hover) .box-3-back{
    animation: box-back 1s forwards ease-in-out;
}

#box-2:hover .box-2-back{
    left: 0;
    width: 100%;
    height: 100%;
}
#box-3:hover .box-3-back{
    left: 0;
    width: 100%;
    height: 100%;
}

.box-1-back{
    position: absolute;
    width: 0%;
    height: 100%;
    text-align: center;
    bottom: 0;
    left: 100%;
    right: 0;
    background: linear-gradient(rgb(22, 22, 22)5%,rgb(22, 22, 22)10%, rgb(27, 73, 104),rgb(17, 17, 17) 90%, rgb(17, 17, 17));
    border-radius: 10%; 
    overflow: hidden;
    transition: all 0.5s ease-in-out ;
}
.box-2-back{
    position: absolute;
    width: 0%;
    height: 100%;
    text-align: center;
    bottom: 0;
    left: 100%;
    right: 0;
    background: linear-gradient(180deg, rgb(47, 38, 39), rgb(148, 122, 115), rgb(4, 8, 20));
    border-radius: 10%; 
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.box-3-back{
    position: absolute;
    width: 0%;
    height: 100%;
    text-align: center;
    bottom: 0;
    left: 100%;
    right: 0;
    background: linear-gradient(90deg, rgb(0, 49, 105), rgb(0, 93, 137));
    border-radius: 10%; 
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    
}
@keyframes header-center{
    0% {
        margin: 0 10px;
        opacity: 0%;
    }
    100% {
        margin: 0 30px ;
        opacity: 100%;
    }
}

@keyframes bounce-right {
    from {
        transform: translate(100px, -50px);
    }
    to {
        transform: translate(0);
    }
}
@keyframes bounce-down {
    from {
        transform: translate(0, 100px);
    }
    to {
        transform: translate(0);
    }
}
@keyframes bounce-left {
    from {
        transform: translate(-100px,-50px);
    }
    to {
        transform: translate(0);
    }
}

@keyframes box-back {
    from {
        transform: translate(0);
        scale: 1;
        border-radius: 10%;
    } 
    to {
        transform: translate(10px);
        scale: .7;
        border-radius: 10%;
    }
}
@keyframes border-radius-for-img {
    0% {
        border-radius: 3%;
    }
    50% {
        border-radius: 10%;
    }
    100%{
        border-radius: 10%;
    }
}

#box-1-img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    align-items: center;
    display: block;
}
.box-text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.box-text a{
    color: #bbb;
}
#box-name{
    font-style: oblique;
    font: bolder;
    color: #3498db;
}


#box-2-img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

#box-2-back{
    display: flex;
    text-align:justify;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#box-name-3 a{
    text-decoration: none;
    color: #f39c12;
}
.header-center{
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #bbb;
    font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    text-shadow: 0px 8px 5px #000000;
    
    
}
.header-center::before, 
.header-center::after{
    content: '';
    flex: 1;
    animation: header-center 1s ease-in forwards;
    border-bottom: 4px solid #bbb;
    border-radius: 10px;
}

.header-center h3{
    white-space: nowrap ;
    display: inline;
}



#section-1{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    height: auto;
    background-color: #000000;
    border-radius: 20px;

}
.video-container {
    width: 100%; 
    height: 100%;
    border: 5px solid #000000;
    border-radius: 10px; 
    overflow: hidden; 
}

video {
    width: 100%; 
    height: auto;
}

.last-section{
    margin: 0;
    padding: 0;
    background-color: #bbb;
    border-radius: 20px;
    height: 400px;
}

.form{
    position: relative;
    left: 15%;
    max-width: 100px;
    width: 80%;
    float: left;
    margin-top: 5%;
}
#email, #name, #write-box{
    padding: 3px;
    margin: 3px;
    float: left;
    border: none; 
    border-radius: 10px;
    caret-color: #222;
    caret: block;
    padding: 15px;
    width: 250px;
}
#email::placeholder, #name::placeholder, #write-box::placeholder{
    color: #222;
}
#write-box{
    max-width: 300px;
    max-height: 150px;
    margin-bottom: 20px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: snow;
    color: #222;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 60px;
    transition: all .3s ease-in-out;
}

.submit-button:hover{
    background-color: #222 ;
}
input:focus, textarea:focus{
    outline: none;
}

#logos{
    margin-left:50%;
    border-radius: 0%;
    list-style: none;
    padding-top: 6%;
}
#logos a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    aspect-ratio: 1;
    font-size: 1.5rem ;
    color: #7a7a7a;
    background-color: #373737;
    border-radius: 50%;
    transition: color 0.5s ease-in-out;
    margin: auto;
    text-decoration: none;
}
#logos li{
    padding-bottom: 10px;
}
#logos a::after{
    position: absolute;
    z-index: -1;
    content: '';
    inset: -3px;
    border-radius: inherit;
    background: conic-gradient(greenyellow var(--fill), transparent var(--fill));
    transition: --fill 0.6s ease-in-out;
}

@property --fill{
    syntax: '<percentage>';
    inherits: true;
    initial-value: 0%;
}

#logos a:hover{
    color: greenyellow;
    --fill: 100%
}
.form-logo-divider{
    transform: rotate(90deg);
    border-bottom: none ;
    border-top: 3px solid #111;
    border-radius: 20px;
    width: 20%;
    display: flex;
    position: relative;
    top: 50%;
    width: 20%;
}
@media only screen and (max-width: 1000px) {
    #boxes{
        display: grid;
    }
}
@media only screen and (max-width: 900px) {
    
    form{
        max-width: 400px;
    }
    #last-section hr{
        justify-content: center;
        width: 30%;
    }
    form #email, #name, #write-box, #submit{
        display: flex;
        width: 160px;
    }
    #submit{
        margin-left: 0;
    }
}
@media only screen and (max-width: 600px) {
    #last-section hr{
        width: 50%;
        left: 10%;
    }
    
}

@media only screen and (max-width: 400px){
    .welcome h1{
        animation: typing 2.5s steps(60, end);
    }
    #home, #news, #inform{

    }
    #home a, #news a, #inform a{    
        padding-right: 20px;
        padding-left: 20px;
    }
    
    form{
        max-width: 300px;
        margin-top: 40px;
    }
    form #email, #name, #write-box, #submit{
        display: flex;
        width: 140px;
        
    }
    #last-section hr{
        width: 60%;
        left: 10%;
    }
    #submit{
      max-width: 120px;
      margin-left: 10%;
    }
    #logos{
        margin-top: 20%;
    }
    
    
}
@media (prefers-color-scheme: dark) {
    body{
        background-color: #111;
        
    }
    #main{
        background: linear-gradient(180deg, rgb(2, 2, 28, 0.709));
    }
    #transition-for-info a {
        color: white;
    }
    .welcome h1 {
        color: #bbb;
        text-shadow: 0 9px 6px black;
    }
    #box-1::after, #box-1::before,#box-2::after, #box-2::before,#box-3::after, #box-3::before{
    background-image: conic-gradient(from var(--angle),transparent 0%,rgb(0, 0, 0)25%, transparent 50%,rgb(0, 0, 0)100% );
    }
    #box-2::after, #box-2::before{
        background-image: conic-gradient(from var(--angle), transparent 0%, rgb(148, 122, 115)25%, transparent 50%,rgb(148, 122, 115)100% );
    }
    #box-3::after, #box-3::before{
        background-image: conic-gradient(from var(--angle), transparent 0%, rgb(0, 93, 137) 25%, transparent 50%, rgb(0, 93, 137)100%);
    }
    .box-1-back{
        background: linear-gradient(rgb(22, 22, 22)5%,rgb(22, 22, 22)10%, rgb(27, 73, 104),rgb(17, 17, 17) 90%, rgb(17, 17, 17));
    }
    .box-2-back{
        background: linear-gradient(180deg, rgb(47, 38, 39), rgb(148, 122, 115), rgb(4, 8, 20));
    }
    .box-3-back{
        background: linear-gradient(90deg, rgb(0, 49, 105), rgb(0, 93, 137));
    }
    .box-text{
        color: white;
    }
    .box-text a{
        color: #bbb;
    }
    #box-name{
        font-style: oblique;
        font: bolder;
        color: #3498db;
    }
    #box-name-3 a{
        text-decoration: none;
        color: #f39c12;
    }
    .header-center{
        color: #bbb;
        text-shadow: 0px 8px 5px #000000;
    }
    .header-center::before, 
    .header-center::after{
    border-bottom: 4px solid #bbb;
    border-radius: 10px;
    }
    
    #section-1{
        background-color: #000000;
    }
    .video-container {
        border: 5px solid #000000;
    }
    .last-section{
        background-color: #bbb;
    }
    #email, #name, #write-box{
        caret-color: #222;
    }
    #email::placeholder, #name::placeholder, #write-box::placeholder{
        color: #222;
    }
    .submit-button {
        background-color: snow;
        color: #222;
    }
    
    .submit-button:hover{
        background-color: #222 ;
    }
    #logos a{
        color: #7a7a7a;
        background-color: #373737;
    }
    #logos a::after{
        background: conic-gradient(greenyellow var(--fill), transparent var(--fill));
    }
    #logos a:hover{
        color: greenyellow;
    }
    .form-logo-divider{
        border-top: 3px solid #111;
    }
}
